
<section id="contact">
    <div class="services">
        <div class="our-services">
         <h1 class="our">Contact Us</h1>
         <hr class="separator separator--dots" />
        </div>
         <div class="icon-container">
             <div class="card">
                 <img src="assets/live-chat (1).png" alt="Avatar">
                 <div class="container">
                     <p class="title">By Phone</p>
                     <p class="detail">  <small>(Monday to Friday, 9am to 6pm PST)</small>
                        <br>
                        India Toll-Free:<br>
                        +917623070356
                        <br><br>
                    </p>
                 </div>
             </div>
     
             <div class="card">
                 <img src="assets/monitor.png" alt="Avatar">
                 <div class="container">
                     <p class="title">Start a new case</p>
                     <p class="detail">Just send us your questions or concerns by starting
                        a new case, and we will give you the help you need.</p>
                 </div>
                 <div class="button">
                    <a href="#starthear">Start Here</a>
                </div>
             </div>
     
             <div class="card">
                 <img src="assets/live-chat.png" alt="Avatar">
                 <div class="container">
                     <p class="title">Live Chat</p>
                     <p class="detail padding"> Chat with a member of our in-house team.</p>
                 </div>
                 <div class="button">
                    <a href="https://api.whatsapp.com/send?phone=6356799791" target="_blank" class="liveChatApp" title="Start Chat">Start Chat</a>
                </div>
             </div>
         </div>
     </div>
</section>
